body {
    padding: 0px;
	font-family: sans-serif;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

/************ ESTILOS SISTEMA ***************/

.top-line{
	height: 12px;
	background-color: #5C9CCC;
}

.titulo_menu_item_pages{
	font-weight: 700;
	font-size: 17px;
}

.titulo_modulo_pages{
	color: #5C9CCC;
	text-transform: uppercase;
}
#contenedor_principal { border:none; }
#contenedor_principal tr td { padding:10px; }
#contenedor_principal tr td.menu { vertical-align: top; background:#FFF; width:280px; border-right: 3px solid #5C9CCC; !important;}

#contenedor_principal ul#menu { padding:0px; margin:0px; }
#contenedor_principal ul#menu li { list-style:none; border-bottom: 1px dashed #5C9CCC; padding: 10px;   } 
#contenedor_principal ul#menu li a { color:#5C9CCC; text-transform: uppercase; font-weight: 700;  font-size: 13px;   }

ul.error_container {padding-top:0; padding-bottom:0;}
ul.error_container li {list-style: none;}
ul.error_container li:first-child {padding-top: 20px;}
ul.error_container li:last-child {padding-bottom: 20px;}
ul.error_container li label {font-weight: normal; color:#843433;}

input.error, select.error, textarea.error{
  border:1px solid #ff0000 !important;
}

hr{
	margin: 0 0;
}

.azul-form-row{ margin:10px 1px !important;}
.azul-panel-heading{/*text-shadow:#ddd 0px 1px 0, #000 0 -1px 0; font-weight: bold; font-size: 14px;*/  }

/******* VALIDACIONES FORMULARIO ************/
.fecha_nacimiento{
	width: 90%;
	float: left;
	margin-right: 10px;	
}

.ui-datepicker-trigger{
	float: left;
}

.codigo_telefono{
	width: 100%;
}

h3{
	color: #5C9CCC;
	font-weight: 700;
}

input:hover, select:hover, textarea:hover{
	background-color: #FFFFE8;
}

td ul li{
	color: red;
}