body {
    padding: 10px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#contenedor_principal { border:none; }
#contenedor_principal tr td { padding:10px; }
#contenedor_principal tr td.menu { vertical-align: top; background:#5c9ccc; width:200px !important;}
#contenedor_principal ul#menu { padding:0px; margin:0px; }
#contenedor_principal ul#menu li { list-style:none; } 
#contenedor_principal ul#menu li a { color:#fff; }

ul.error_container {padding-top:0; padding-bottom:0;}
ul.error_container li {list-style: none;}
ul.error_container li:first-child {padding-top: 20px;}
ul.error_container li:last-child {padding-bottom: 20px;}
ul.error_container li label {font-weight: normal; color:#843433;}

input.error, select.error, textarea.error{
  border:1px solid #ff0000 !important;
}
/* Autocompleter Functionality */
.twitter-typeahead { display:inline !important; }
.tt-dropdown-menu { 
  background-color: #fff; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  padding:5px 10px !important; 
  min-width:200px; 
}
.tt-dropdown-menu p { margin:0px; }
.tt-suggestion.tt-cursor { background-color:#5c9ccc; color: #fff; }
.tt-suggestion p { padding:3px 10px }